*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#sfondo1{
  width: 100vw;
  height: 33vh;
  background: url(roma.jpg);
  background-size: cover;
  border: solid; 1px; black;
}
#sfondo2{
  width: 100vw;
  height: 33vh;
  background: url(amsterdam.jpg);
  background-size: cover;
  border: solid; 1px; black;
}
#sfondo3{
  width: 100vw;
  height: 33vh;
  background: url(barcellona.jpg);
  background-size: cover;
  border: solid; 1px; black;
}
.testo{
  text-align: center;
  position: relative;
  padding-top: 15vh;
  font-size: 36px;
  color: red;
  font-style: oblique;
}
#immagine{
  position: relative;
  height: 100%;
  left: 0;
  background-color: rgba(61, 209, 202, 0.3);
}
